# Python virtual environment
dial_mas_mesh/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
